#title{
  font-size: 80px;
  color: ##5b0a05;
  position: absolute;
  display: inline-block;
  left: 2%;
  top: 3%;
  font-family: 'Skranji', cursive;
}
#con{
  position: absolute;
  display: inline-block;
  top: 12%;
  left: 2%;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}
.ani{
  animation-name: expand;
}
.ani2{
  animation-name: contract;
}
.visibility{
  visibility: hidden;
}
.test{
  animation-name: visi;
  animation-duration: 4s;
  width: 10%;
  height: 10%;
  bottom: 5%;
  background-color: yellow;
}
@keyframes visi{
  from {visibility: hidden;}
  to {visibility: visible;}
}
@keyframes expand{
       from {height: 20%; width: 15%;}
       to {height: 60%; width: 20%;}
     }
@keyframes contract{
  to {height: 20%; width: 15%;}
}
.first{top: 35%;
       left: 6%;
       height: 20%;
       width: 15%;
       animation-duration: 0.3s;
}
.second{top: 35%;
       left: 30%;
       height: 20%;
       width: 15%;
       animation-duration: 0.3s;
     }
.third{top: 35%;
       left: 54%;
       height: 20%;
       width: 15%;
       animation-duration: 0.3s;
     }
.fourth{top: 35%;
        left: 78%;
        height: 20%;
        width: 15%;
        animation-duration: 0.3s;
      }

body{
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

#s_bar{
  border-radius: 8px;
  position: absolute;
  display: inline-block;
  top: 7%;
  font-size: 20px;
  height: 5%;
  width: 25%;
  left: 62%;
}

h6{
  margin: 0 auto;
}
button{
  position: absolute;
  display: inline-block;
  left: 88%;
  top: 7%;
  font-size: 20px;
  border-radius: 30px;
  background-color: white;
  width: 7%;
  height: 5%;
}

.im{
  bottom: 10%;
  position: absolute;
  display: inline-block;
}
button:hover{
  background-color: #b84d69;
}
.info img{
  width: 10%;
  padding: 0 7px 0 7px;
}
h3{
  display: inline-block;
  position: absolute;
  left: 7%;
  top: 20%;
}

.i_data{
  position: absolute;
  top: 40%;
  width: 100%;
  height: 40%;
  font-size: 30px;
}

#p1{
  display: block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 5%;
}
img{
  width: 70%;
}
.container{
  position: absolute;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  background-color: pink;
  font-size: 40px;
  border-radius: 30px;
}

.info_block{
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 20%;
  background-color: white;
  width: 40%;
  height: 60%;
  border-radius: 20px;
}

.t_h{
  font-size:30px;
}

.hide{
  display: none;
}

.blank_r{
  height: 40px;
}

span{
  font-size: 20px;
}

.info{
  width: 100%;
  height: 20px;
  font-size: 20px;
  position: absolute;
  bottom: 0;
}
.t_data{
position: absolute;
font-size: 15px;
width: 100%;
border-spacing: 3px;
bottom: 10%;
}

